<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.GirlMapper">

    <resultMap id="girl" type="com.imooc.domain.Girl">
        <id property="id" column="id"/>
        <result property="age" column="age"/>
        <result property="cupSize" column="cup_size"/>
    </resultMap>

    <select id="selectById" resultMap="girl">
        select id, age, cup_size
        from girl where id = #{id}
    </select>
</mapper>